---
layout: page
title: About me
date: 2013-03-13
comments: false
---
    
<section class="section cv-section">
    <h2 class="cv-section-title">
        <span class="fa-stack fa-xs cv-section-title-marker">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        <div>Experiences</div>        
    </h2>
    <hr>
    {% for experience in site.data.cv.experiences %}
        <div class="item">
            <div class="cv-upper-row">
                <h3 class="cv-title">{{ experience.role }}</h3>
                <div class="cv-time">{{ experience.time }}</div>
            </div>
            {% if experience.link %}
                <a href="{{ experience.link }}"><div class="cv-organization">{{ experience.organization }}</div></a>
            {% else %}
                <div class="cv-organization">{{ experience.organization }}</div>
            {% endif %}
        </a>
        {% if experience.details %}
            <div class='cv-details'>
                {{ experience.details | markdownify }}
            </div>
        {% endif %}
    {% endfor %}
</section>

<section class="section cv-section">
    <h2 class="cv-section-title">
        <span class="fa-stack fa-xs cv-section-title-marker">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-university fa-stack-1x fa-inverse"></i>
        </span>
        Educations
    </h2>
    <hr>
    {% for education in site.data.cv.educations %}
        <div class="item">
            <div class="cv-upper-row">
                <h3 class="cv-title">{{ education.degree }}</h3>
                <div class="cv-time">{{ education.time }}</div>
            </div>
            {% if education.link %}
                <a href="{{ education.link }}"><div class="cv-organization">{{ education.university }}</div></a>
            {% else %}
                <div class="cv-organization">{{ education.university }}</div>
            {% endif %}
        </div>
        {% if education.details %}
            <div>
                {{ education.details | markdownify }}
            </div>
        {% endif %}
    {% endfor %}
</section>

<section class="section cv-section">
    <h2 class="cv-section-title">
        <span class="fa-stack fa-xs cv-section-title-marker">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        Projects
    </h2>
    <hr>
    {% for post in site.projects %} 
            <div class="item">
                <a class='cv-title', href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                {% if post.funding %}
                    <div><b class='cv-em'>Funded by:</b> {{ post.funding }}</div>
                {% endif %}
            </div>
    {% endfor %}
</section>

<section class="section cv-section">
    <h2 class="cv-section-title">
        <span class="fa-stack fa-xs cv-section-title-marker">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
        </span>
        Publications
    </h2>
    <hr>
    {% for post in site.publications reversed %} 
            <div class="item">
                <a class='cv-title', href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                <div><b class='cv-em'>Published in:</b> {{ post.published }}</div>
                <div class="cv-publication-authors"><b class='cv-em'>Authors:</b> {{ post.authors }}</div>
            </div>
    {% endfor %}
</section>

<section class="section cv-section">
    <h2 class="cv-section-title">
        <span class="fa-stack fa-xs cv-section-title-marker">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        Awards
    </h2>
    <hr>
    <ul>
    {% for award in site.data.cv.awards %} 
        {% if award.link %}
            <li class='cv-award'><a href="{{ award.link }}">{{ award.title }}</li>
        {% else %}
            <li class='cv-award'>{{ award.title }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</section>