---
layout: list
headline: Researches & Projects
pagination: 
    enabled: true
    per_page: 5
    collection: researches, projects
---
{% for post in paginator.posts %} 
    <ul>
        <li class="wow fadeInLeft" data-wow-duration="1s">
            <div class='post-item'>
                <div class='post-body'>
                    <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    <p>{{ post.excerpt }}</p>
                </div>
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail}}" class='post-thumbnail'>
            {% endif %}
            </div>
            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
        </li>
    </ul>
{% endfor %}
