---
layout: page
title: Tag Archive
description: "An archive of posts sorted by tag."
comments: false
---

<!-- {% assign rawtags = "" %}

{% for collection in site.collections %}
  {% for post in collection.docs %}
    {% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign site.tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}

{{ site.tags }} -->

{% assign tags = "" %}
{% for collection in site.collections %}
  {% for post in collection.docs %}
    {% assign ttags = post.tags | join:'|'  %}
    {% if tags != "" %}
      {% assign tags = tags | append: "|" %}
    {% endif %}
    {% assign tags = tags | append: ttags %}
  {% endfor %}
{% endfor %}
{% assign tags = tags | split:'|' | uniq %}


<!-- {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %} -->

<!-- <ul class="entry-meta inline-list">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  	<li><a href="#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
  {% endunless %}{% endfor %}
</ul> -->

<ul class="entry-meta inline-list">
  {% for tag in tags %}
  	<li><a href="#{{ tag }}" class="tag"></span> <span class="count-head">#</span><span class="term">{{ tag }}</span></a></li>
  {% endfor %}
</ul>


{% for tag in tags %}
  <article>
    <h2 id="{{ tag }}" class="tag-title">{{ tag }}</h2>
    <ul>
      {% for collection in site.collections %}
      {% for post in collection.docs %}
        {% if post.tags contains tag %}
          <li class="tag-entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </article>
{% endfor %}


<!-- {% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
	<article>
	<h2 id="{{ this_word }}" class="tag-heading">{{ this_word }}</h2>
		<ul>
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}
		</ul>
	</article><!-- /.hentry -->
{% endunless %}{% endfor %} -->
