<a class="btn zoombtn", onclick="history.back(-1)">
    <i class="fa fa-arrow-left"></i>
</a>

{% if page.categories contains "project" or page.categories contains "research" %}
    <a class="btn zoombtn" href="{{site.url}}/research&project">
{% elsif page.categories contains "publication" %}
    <a class="btn zoombtn" href="{{site.url}}/publication-archive/">
{% elsif page.categories contains "software" or page.categories contains 'dataset' %}
    <a class="btn zoombtn" href="{{site.url}}/software&dataset/">
{% elsif page.categories contains 'blog' %}
    <a class="btn zoombtn" href="{{site.url}}/blog-archive/">
{% else %}
    <a class="btn zoombtn" href="{{site.url}}/about/">
{% endif %}
    <i class="fa fa-list"></i>
</a>

{% if page.categories contains "project" or page.categories contains "research" %}
    <a class="btn zoombtn" href="{{site.url}}/research&project">
{% elsif page.categories contains "publication" %}
    <a class="btn zoombtn" href="{{site.url}}/publication/">
{% elsif page.categories contains "software" or page.categories contains 'dataset' %}
    <a class="btn zoombtn" href="{{site.url}}/software&dataset/">
{% elsif page.categories contains 'blog' %}
    <a class="btn zoombtn" href="{{site.url}}/blog/">
{% else %}
    <a class="btn zoombtn" href="{{site.url}}/about/">
{% endif %}
    <i class="fa fa-search"></i>
</a>

<a class="btn zoombtn" href="{{site.url}}">
    <i class="fa fa-home"></i>
</a>