.cv-section {
    .item {
        margin-bottom: 10px;
    }
}

.cv-section-title {
    display: flex;
    align-items: center;
    color: $theme-color;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    // text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cv-upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}

.cv-title{
    color: $text-color;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.tag-title{
    color: $text-color;  
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.tag-entry-title{
    color: $text-color;  
    font-size: 14px;
}

// .cv-publication-title {
//     font-size: 16px;
//     font-weight: 500;
//     color: $text-color;
//     // margin-bottom: 1px;
// }

.cv-time {
    position: absolute;
    right: 0;
    top: 0;
    color: $text-secondary;
    @media screen and (max-width: 800px) {
        position: static;
    }
}

.cv-organization {
    margin-bottom: 10px;
    color: $text-secondary ;
}

.cv-publication-authors {
    font-style: italic;
    color: $text-secondary;
}

.cv-details {
    margin: 0;
}

.cv-em {
    font-weight: 500;
}

.cv-award{
    color: $text-color;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
