

.post-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
  }  
}


.post-thumbnail{
  width: 125px;
  height: 125px;
  margin: 10px;
  @media screen and (max-width: 800px) {
    width: 60%;
    height: auto;
  }
}


.pagination {
	text-align: center;
	margin-bottom: 3rem;
}
