---
layout: list
pagination: 
  enabled: true
---

<div class="post-list">
    {% for post in paginator.posts %} 
        {% if post.type == "blog"%}
        <ul>
            <li class="wow fadeInLeft" data-wow-duration="1s">
                <div class='post-item'>
                    <div class='post-body'>
                        {% if post.title_disp %}
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title_disp }}</a>
                        {% endif %}
                        <p>{{ post.content | truncate: 100, "" }}{{end}}
                            {% assign content_size =  post.content | size %}
                            {% if content_size > 100 %}
                            ...... &nbsp;<a class="post-link-in-text" href="{{ site.url }}{{ post.url }}"> read more</a>
                            {% endif %}
                        </p>
                        <time class="blog-time" datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
                    </div>
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail}}" class='post-thumbnail'>
                    {% endif %}
                </div>
            </li>
        </ul>
        {% endif %}
    {% endfor %}
</div>
                